<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../public/style.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/agate.min.css">
        <title>Bimstagram</title>
    </head>
    <body class="bg-slate-100">
        <header class="flex items-center justify-between top-0 z-10 sticky shadow-md bg-white h-24 px-4">
            <a href="../feed/home" class="font-bold font-italiana text-2xl m-4 cursor-pointer">Bimstagram</a>
            {% block header %}
            {% endblock %}
            <div>
                <ul class="flex items-center">
                    <li class="mx-4 cursor-pointer">
                        <a href="../feed/home">
                            <img src="../images/svg_home.svg">
                        </a>
                    </li>
                    <li class="mx-4 cursor-pointer">
                        <a href="../feed/create">
                            <img src="../images/svg_add.svg">
                        </a>
                    </li>
                    <li class="mx-4 cursor-pointer w-10 h-10">
                        <a href="../feed/profile?showId={{session.loggedIn}}&viewType=all"  >
                            {% block pfp %}{% endblock %}
                        </a>
                    </li>
                    <li>
                        <a href="?logout=true" class=" mx-2">Log out</a>
                    </li>
                </ul>
            </div>
        </header>
        <main>
            {% block main %}
                
            {% endblock %}
        </main>
        {# Goated functie die stopt dat je naar de top van de page gaat als liked of comment #}
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) { 
                var scrollpos = localStorage.getItem('scrollpos');
                if (scrollpos) window.scrollTo(0, scrollpos);
            });

            window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
            };
            hljs.highlightAll();
            function copyText(postId) {
                let copyText = document.getElementById(`copy${postId}`);
                const body = document.querySelector('body');
                const area = document.createElement('textarea');
                body.appendChild(area);

                area.value = copyText.innerText;
                area.select();
                document.execCommand('copy');

                body.removeChild(area);
            } 
        </script>
    </body>
</html>