{% extends "layouts/app.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <section class="flex justify-center my-4">
        <p class="text-white text-4xl bg-red-500 rounded-xl p-4">{{message}}</p>
    </section>
{% endblock %}