{% extends "layouts/empty.twig" %}

{% block header %}
<form action="" method="POST">
        <button name="logout">Log out</button>
    </form>
{% endblock %}

{% block main %}
    <div class="w-min mx-auto">
        <form action="login" method="POST" class="flex flex-col justify-center w-min mt-32 px-8 py-4 bg-white border-slate-400 border rounded">
            <h1 class="text-center text-4xl m-4 font-italiana">Bimstagram</h1>
            <input type="text" name="userLogin" placeholder="Username" class="border-slate-400 border p-2 w-64 mx-auto my-2 rounded">
            <input type="password" name="passLogin" placeholder="Password" class="border-slate-400 border p-2 w-64 mx-auto my-2 rounded">
            <input type="hidden" name="loginHidden" value="true">
            <button class="bg-blue-500 text-white border p-2 w-64 mx-auto my-2 rounded active:bg-white active:text-black">Log in</button>
            {% if session.currentError is defined %}
                <p class="text-red-500 text-center underline">{{session.currentError}}</p>
            {% endif %}
        </form>
        <div class="flex flex-col justify-center mx-auto mt-8 px-8 py-4 bg-white border-slate-400 border rounded">
            <p class="mx-auto">Don't have an account? <a href="register" class="text-blue-500 text-bold underline cursor-pointer">Sign up</a></p>
        </div>
    </div>
{% endblock %}