{% extends "layouts/app.twig" %}

{% block header %}
    <form method="POST" action="results" class="flex items-center mb-0 p-2 shadow-md border-slate-400 border rounded">
        <input name="searchQuery" type="text" placeholder="Search by username" class="outline-none w-96">
        <button>
            <img src="../images/svg_search.svg">
        </button>
    </form>
{% endblock %}

{% block pfp %}
    <img src="{{userBean.profile_pic_path}}" alt="PFP" class="rounded-full w-10 h-10">
{% endblock %}

{% block main %}
    <div class="w-1/2 mx-auto p-4">
        <form method="POST" action="create" class="flex flex-col mx-auto p-4 shadow-xl bg-white rounded-xl">
            <input name="postTitle" placeholder="Post title" class="shadow-lg my-2 p-2 rounded-xl border-2 border-slate-100 outline-none">
            <textarea name="snippet" rows="15" spellcheck="false" placeholder="Your code here" class="shadow-lg my-2 p-2 rounded-xl text-slate-300 bg-[#333] border-2 border-slate-100 outline-none font-SourceCodePro overflow-x-clip "></textarea>
            <div class="flex justify-between">
                <select name="language" class="flex w-1/2 p-2 my-2 rounded-xl mr-2 shadow-lg outline-none">
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                    <option value="scss">SCSS</option>
                    <option value="php">PHP</option>
                    <option value="twig">Twig</option>
                    <option value="javascript">Javascript</option>
                    <option value="typescript">Typescript</option>
                    <option value="c">C</option>
                    <option value="c++">C++</option>
                    <option value="c#">C#</option>
                    <option value="Python">Python</option>
                    <option value="lua">Lua</option>
                </select>
                <button name="create" class="flex items-center w-1/2 p-2 my-2 rounded-xl ml-2 shadow-lg text-white font-semibold bg-blue-500 hover:bg-blue-400">
                    <svg class="mr-2" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 122.875 122.648" enable-background="new 0 0 122.875 122.648" xml:space="preserve">
                        <g>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M108.993,47.079c7.683-0.059,13.898,6.12,13.882,13.805 c-0.018,7.683-6.26,13.959-13.942,14.019L75.24,75.138l-0.235,33.73c-0.063,7.619-6.338,13.789-14.014,13.78 c-7.678-0.01-13.848-6.197-13.785-13.818l0.233-33.497l-33.558,0.235C6.2,75.628-0.016,69.448,0,61.764 c0.018-7.683,6.261-13.959,13.943-14.018l33.692-0.236l0.236-33.73C47.935,6.161,54.209-0.009,61.885,0 c7.678,0.009,13.848,6.197,13.784,13.818l-0.233,33.497L108.993,47.079L108.993,47.079z" fill="#ffffff"/>
                        </g>
                    </svg>
                    Post snippet
                </button>
            </div>
        </form>
    </div>
{% endblock %}