{% extends "layouts/app.twig" %}

{% block header %}
    <form method="POST" action="results" class="flex items-center mb-0 p-2 shadow-md border-slate-400 border rounded">
        <input name="searchQuery" type="text" placeholder="Search by username" class="outline-none w-96">
        <button>
            <img src="../images/svg_search.svg">
        </button>
    </form>
{% endblock %}

{% block pfp %}
    <img src="{{userBean.profile_pic_path}}" alt="PFP" class="rounded-full w-10 h-10">
{% endblock %}

{% block main %}
    <form action="inspect" method="POST" enctype="multipart/form-data" class="flex flex-col items-center mx-auto max-w-fit p-4 mt-8 bg-white rounded-lg shadow-md">
        {% if get.editType == "profilePic" %}
            <h1 class="font-semibold text-2xl mb-4">Edit profile picture</h1>
            <input name="fileUpload" type="file">
        {% elseif get.editType == "username" %}
            <h1 class="font-semibold text-2xl mb-4">Edit username</h1>
            <input name="changeUser" type="text" value="{{session.viewedUser.username}}" class="border-slate-400 border p-2">
        {% elseif get.editType == "description" %}
            <h1 class="font-semibold text-2xl mb-4">Edit description</h1>
            <textarea name="changeDesc" class="border-slate-400 border" rows="6" cols="30"></textarea>
        {% elseif get.editType == "password" %}
            <h1 class="font-semibold text-2xl mb-4">Edit password</h1>
            <input name="changePass" type="password" placeholder="New password..." class="border-slate-400 border p-2">
        {% endif %}
        <input type="hidden" name="editType" value="{{get.editType}}">
        <button class="bg-blue-500 text-white w-fit px-4 py-2 mt-4 rounded-lg">Confirm edits</button>
    </form>
{% endblock %}