{% extends "layouts/app.twig" %}

{% block header %}
    <form method="POST" action="results" class="flex items-center mb-0 p-2 shadow-md border-slate-400 border rounded">
        <input name="searchQuery" type="text" placeholder="Search by username" class="outline-none w-96">
        <button>
            <img src="../images/svg_search.svg">
        </button>
    </form>
{% endblock %}

{% block pfp %}
    <img src="{{userBean.profile_pic_path}}" alt="PFP" class="rounded-full w-10 h-10">
{% endblock %}

{% block main %}
    <div class="flex flex-col-reverse">
        {% if posts|length == 0 %}
            <h1 class="text-center mt-8 text-2xl">No hay nada aquí... :c</h1>
        {% else %}
            {% for i in posts %}
                <div class="container mx-auto my-4 bg-white rounded-lg shadow-lg">
                    <div class="flex items-center justify-between mx-auto p-6">
                        <div class="flex items-center cursor-pointer">
                            <img src="{{i.__get('user').profile_pic_path}}" alt="pfp" class="w-16 h-16 rounded-full">
                            {# fix dat je de username uit de user tabel haalt en niet uit de feed #}
                            <a href="../feed/profile?showId={{i['user_id']}}&viewType=all" class="text-xl mx-4">{{i.__get('user').username}}</a>
                        </div>
                        <button class="bg-blue-500 text-white text-lg p-3 rounded-xl active:bg-blue-400" onclick="copyText({{i['id']}})">Copy it!</button>
                    </div>
                    <div class="codeSnippet text-white bg-[#333333] h-96 max-h-96 overflow-auto">
                        <div class="flex justify-end">
                            <p class="flex justify-end text-slate-400 absolute font-semibold mt-2 pr-4">{{i['language']|capitalize}}</p>
                        </div>
                        <pre>
<code class="language-{{i['language']}}" id="copy{{i['id']}}">{{i['snippet']}}</code>
                        </pre>
                    </div>
                    <div class="px-6 pb-4"> 
                        <div class="flex justify-between my-2">
                            <h1 class="text-lg font-semibold">{% if i['title'] == "" %}No title{% else %}{{i['title']}}{% endif %}</h1>
                        </div>
                        <div class="w-fit">
                            {% set postIsLiked = 'false' %}
                            {% for likeId in allLiked %}
                                {% if likeId == i['id'] %}
                                    {% set postIsLiked = 'true' %}
                                {% endif %}
                            {% endfor %}
                            {% if postIsLiked == 'true' %}
                                <a href="{{location}}?likePostId={{i['id']}}" class="flex items-center cursor-pointer w-fit">
                                <div class="p-1 rounded-full">
                                    <img src="../images/svg_likeBlue.svg" alt="likeBlue">
                                </div>
                            {% else %}
                                <a href="{{location}}?likePostId={{i['id']}}&like=like" class="flex items-center cursor-pointer w-fit">
                                <div class="p-1 rounded-full">
                                    <img src="../images/svg_like.svg" alt="like">
                                </div>
                            {% endif %}
                                <h2 class="px-2">{{i['likes']}} Likes</h2>
                            </a>
                        </div>
                        <div>
                            <ul class="my-2 max-h-32 overflow-y-auto">
                                {% for comment in allComments %}
                                    {% if comment['feed_id'] == i['id'] %}
                                    <li class="flex"><a href="profile?showId={{comment['user_id']}}&viewType=all" class="font-semibold mr-4">{{comment.__get('user').username}}</a><p class="">{{comment['comment_content']}}</p></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <form action="home" method="POST" class="flex justify-between py-1 m-0">
                            <input name="commentContent" class="w-96 focus:outline-none" type="text" placeholder="Write a comment...">
                            <input type="hidden" name="commentCheck">
                            <input type="hidden" name="postId" value="{{i['id']}}">
                            <button class="text-blue-500 p-2 rounded-lg active:bg-blue-500 active:text-white">Post</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}