{% extends "layouts/app.twig" %}

{% block header %}
    <form method="POST" action="results" class="flex items-center mb-0 p-2 shadow-md border-slate-400 border rounded">
        <input name="searchQuery" type="text" placeholder="Search by username" class="outline-none w-96">
        <button>
            <img src="../images/svg_search.svg">
        </button>
    </form>
{% endblock %}

{% block pfp %}
    <img src="{{userBean.profile_pic_path}}" alt="PFP" class="rounded-full w-10 h-10">
{% endblock %}

{% block main %}
     <div class="w-1/2 mx-auto my-4 pr-4 bg-white rounded-xl">
        <div class="flex">
            <img src="{{session.viewedUser.profile_pic_path}}" alt="pfp" class="w-1/2 rounded-lg outline-none">
            <div class="flex flex-col justify-between w-1/2 p-4">
                <div>
                    <h1 class="text-4xl pb-4">{{session.viewedUser.username}}</h1>
                    <p class="text-slate-500 max-h-72 overflow-y-auto">
                    {% if session.viewedUser.description != null %}
                        {{session.viewedUser.description}}
                    {% else %}
                        Nog geen bio...
                    {% endif %}
                    </p>    
                </div>
                
                <a href="profile" class="self-end bg-blue-500 hover:bg-blue-400 text-white py-2 px-4 rounded-lg">Return to posts</a>
            </div>
        </div>
     </div>
     {% if session.viewedUser.id == session.loggedIn %}
        <div class="flex justify-center">
            <ul class="flex">
                <a href="editProfile?editType=profilePic"><li class="bg-white py-2 px-4 mx-2 rounded-lg shadow-md hover:bg-slate-50">Edit profile picture</li></a>
                <a href="editProfile?editType=username"><li class="bg-white py-2 px-4 mx-2 rounded-lg shadow-md hover:bg-slate-50">Edit username</li></a>
                <a href="editProfile?editType=description"><li class="bg-white py-2 px-4 mx-2 rounded-lg shadow-md hover:bg-slate-50">Edit description</li></a>
                <a href="editProfile?editType=password"><li class="bg-white py-2 px-4 mx-2 rounded-lg shadow-md hover:bg-slate-50">Edit password</li></a>
            </ul>
        </div>
        {% if session.editError is defined %}
            <p class="w-fit mx-auto bg-white p-4 rounded-lg mt-4 text-xl font-semibold text-red-500">! {{session.editError}} !</p>
        {% endif %}
     {% endif %}
{% endblock %}