{% extends "layouts/app.twig" %}

{% block header %}
    <form method="POST" action="results" class="flex items-center mb-0 p-2 shadow-md border-slate-400 border rounded">
        <input name="searchQuery" type="text" placeholder="Search by username" class="outline-none w-96">
        <button>
            <img src="../images/svg_search.svg">
        </button>
    </form>
{% endblock %}

{% block pfp %}
    <img src="{{userBean.profile_pic_path}}" alt="PFP" class="rounded-full w-10 h-10">
{% endblock %}

{% block main %}
    {% if session.searchedUsers != [] %}
        <h1 class="mx-auto w-fit text-4xl font-semibold m-8">Found users</h1>
        {% for i in session.searchedUsers %}
            <div class="flex items-center justify-between container m-8 mx-auto bg-white rounded shadow-md">
                <div class="flex items-center justify-between">
                    <img src="{{i.profile_pic_path}}" alt="Proifle Picture" class="rounded w-40 h-40">
                    <h1 class="flex items-center text-4xl m-4">{{i.username}} {% if i.id == session.loggedIn %}<span class="text-lg text-slate-400 mt-2 ml-6">( You )</span>{% endif %}</h1>
                </div>  
                <div class="flex flex-row-reverse items-center">
                    <a href="profile?showId={{i.id}}&viewType=all" class="text-white text-2xl bg-blue-500 hover:bg-blue-400 p-4 mr-8 rounded cursor-pointer">Visit profile</a>
                    {% if i.id == session.loggedIn %}
                        <a href="inspect?showId={{session.loggedIn}}" class="bg-slate-300 hover:bg-slate-200 p-4 mr-8 rounded cursor-pointer">
                            <img src="../images/svg_editProfile.svg">
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1 class="mx-auto w-fit text-4xl m-8">No users found</h1>
    {% endif %}
{% endblock %}